// styles/_variables.scss

// Définitions des familles de polices
$font-work-sans: "Work Sans", sans-serif;
$font-sanchez-niu: "Sanchez Niu", serif;

// Définitions des poids par défaut
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

// Définitions des couleurs
$primary-color-dark: #01152d;
$secondary-color-dark: #2987c3;
$primary-color-light: #ffda00;
$secondary-color-light: #efb401;
