// styles/_base.scss

@use "variables" as *;
@import "node_modules/modern-normalize/modern-normalize.css";

// Page{ min-height: 100vh }

*,
html {
  scroll-behavior: smooth !important;
}

body {
  font-family: $font-sanchez-niu;
  font-weight: $font-weight-normal;
  line-height: 1.5;
  color: #222;
  background-color: black;
  margin: 0;

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("~/assets/images/background.svg");
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0.15;
  }
}

h1,
.h1 {
  font-size: 3rem;
}
h2,
.h2 {
  font-size: 2rem;
}
h3,
.h3 {
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.a {
  font-family: $font-work-sans;
  font-weight: $font-weight-black;
  text-decoration: none;
  color: white;
  margin: 0;
}

p {
  color: rgba(255, 255, 255, 0.75);
}

// Optionnel : styles spécifiques aux liens survolés (hover)
a:hover,
a:focus {
  text-decoration: underline;
  outline: none;
}

// Couleurs
.blue {
  color: $secondary-color-dark;
}

.gold {
  color: $primary-color-light;
}

// utils
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
