// styles/_base.scss

@use "variables" as *;

// Page{ min-height: 100vh }
html,
body {
  height: 100%;
  margin: 0; /* pour éviter les marges par défaut */
  padding: 0; /* idem pour les paddings */
  min-height: 100vh; /* optionnel, min-height viewport height */
  font-size: 16px;
}
#__nuxt {
  display: flex;
  flex-direction: column;
  height: 100%;
}
main {
  height: 100%;
}

body {
  font-family: $font-sanchez-niu;
  font-weight: $font-weight-normal;
  line-height: 1.5;
  color: #222;
  background-color: black;
  margin: 0;
}

h1,
.h1 {
  font-size: 3rem;
}
h2,
.h2 {
  font-size: 2rem;
}
h3,
.h3 {
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.a {
  font-family: $font-work-sans;
  font-weight: $font-weight-black;
  text-decoration: none;
  color: white;
}

// Optionnel : styles spécifiques aux liens survolés (hover)
a:hover,
a:focus {
  text-decoration: underline;
  outline: none;
}
